<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<!-- Désactive les sources héritées -->
		<add key="LocalFeed" value="C:\LocalNuGet" />
		<!-- Source locale en premier -->
		<add key="Github" value="https://nuget.pkg.github.com/Microservice-Architecture-NET-A-Rename"/>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
</configuration>